@font-face {
  font-family: "kanit";
  src: url("/fonts/kanit/Kanit-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "kanit";
  src: url("/fonts/kanit/Kanit-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "kanit";
  src: url("/fonts/kanit/Kanit-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "kanit";
  src: url("/fonts/kanit/Kanit-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "kanit";
  src: url("/fonts/kanit/Kanit-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "kanit";
  src: url("/fonts/kanit/Kanit-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
